<%- include("partials/header") -%>

    <h3>Patient Name: <%= pName%></h3>
    <h4><h4>Hospital Location: </h4><%= pLoc%></h4>
    <p><h4>Home Address: </h4><%= pAddress%></p>
    <p><h4>Patient's Phone Number: </h4><%= pNumber%></p>
    <p><h4>Gurdian's Phone Number: </h4><%= pNumber2%></p>
    <p><h4>Medications: </h4><%= pMedication%></p>
    <p><h4>Therapies: </h4><%= pTherapy%></p>
    <p><h4>Doctor's Suggestion: </h4><%= pSuggestion%></p>

<%- include("partials/footer") -%>